@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  background-color: #19202e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 100vh;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}
h1 {
  color: lime;
  padding: 30px;
}
.instructions-div {
  border-radius: 10px;
  color: #e7edf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
  height: 375px;
  background-color: #252d3d;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #e7edf0;
  border-radius: 10px;
  background-color: transparent;
  color: #e7edf0;
  font-family: "Share Tech Mono", monospace;
}
