@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  background-color: rgb(25, 32, 46);
}

h1 {
  color: rgb(231, 237, 240);
  padding: 30px;
}

canvas {
  border: 1px solid white;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #e7edf0;
  border-radius: 10px;
  background-color: transparent;
  color: #e7edf0;
  font-family: "Share Tech Mono", monospace;
}
